<body class="bg--100">
    <%= render "layouts/header", logo: "dark", domain: @domain %>

    <div class="content">
        <div class="card max--600">
            <div class="card__info button--icon bg--200 color--800">
                <i class="material-icons-round">school</i>
            </div>
            <div class="card__body color--800">
                <div class="card__title" id="courseName">Neuer Kurs</div>
                <div class="card__subtitle">Neuen Kurs anlegen</div>
            </div>
        </div>
        
        <section class="grid--new--course">
            <%= form_with model: @course do |form| %>
                <div class="span--2">
                    <div class="form__label" data-error="false">
                        <p>Kursname *</p>
                        <i class="material-icons-round color--400">warning</i>
                    </div>
                    <%= form.text_field :name, placeholder: "Kursname", :oninput => "changeDisplayName(this.value)" %>
                </div>

                <div>
                    <div class="form__label" data-error="false">
                        <p>Fachsemester *</p>
                        <i class="material-icons-round color--400">warning</i>
                    </div>
                    <%= form.number_field :semester, placeholder: "Fachsemester" %>
                </div>

                <div>
                    <div class="form__label" data-error="false">
                        <p>Semester *</p>
                        <i class="material-icons-round color--400">warning</i>
                    </div>
                    <div>
                        <%= form.number_field :year, placeholder: "Jahr", max: "2500", min: "1000", value: Date.today.year %>
                        <div class="period__switch">
                            <i class="material-icons-round color--800" data-state="active" id="period0" onclick="switchPeriod(0)">light_mode</i>
                            <i class="material-icons-round color--800" data-state="inactive" id="period1" onclick="switchPeriod(1)">ac_unit</i>
                        </div>
                    </div>
                    <%= form.hidden_field :period, value: "0" %>
                </div>

                <div>
                    <div class="form__label" data-error="false">
                        <p>Veranstaltungsk체rzel *</p>
                        <i class="material-icons-round color--400">warning</i>
                    </div>
                    <%= form.text_field :short_name, maxLength: "10", placeholder: "K체rzel" %>
                </div>

                <div>
                    <div class="form__label" data-error="false">
                        <p>Fakult채t</p>
                        <i class="material-icons-round color--400">warning</i>
                    </div>
                    <%= form.text_field :faculty, placeholder: "Fakult채t" %>
                </div>

                <div>
                    <div class="form__label" data-error="false" title="FEHLER">
                        <p>Dozent/-in</p>
                        <i class="material-icons-round color--400">warning</i>
                    </div>
                    <%= form.text_field :lecturer, placeholder: "Dozent/-in" %>
                </div>

                <div>
                    <div class="form__label" data-error="false">
                        <p>Raum</p>
                        <i class="material-icons-round color--400">warning</i>
                    </div>
                    <%= form.text_field :room, placeholder: "Raum" %>
                </div>
            <% end %>
        </section>
    </div>

    <script>
        function switchPeriod(num) {
            document.getElementById("period" + num).dataset.state = "active";
            document.getElementById("period" + (num == 1 ? 0 : 1)).dataset.state = "inactive";
            document.getElementById("course_period").value = num;
        }

        function changeDisplayName(name) {
            if(name.trim() != "") {
                document.getElementById("courseName").innerHTML = name;
            } else {
                document.getElementById("courseName").innerHTML = "Neuer Kurs";
            }
        }

        function submitForm() {
            document.querySelectorAll("form")[0].submit();
        }
    </script>
</body>