<body class="bg--700">
    <%= render "layouts/header", logo: "light", domain: @domain, type: "course", s_type: "course" %>

    <div class="content">
        <div class="card">
            <div class="card__info button--icon bg--800 color--200">
                <%if @course.upcoming.length > 0 %>
                    <div class="course__todo bg--200 color--800">
                        <%= @course.upcoming.length %>
                    </div>
                <% end %>
                <i class="material-icons-round">school</i>
            </div>
            <div class="card__body color--200 gap--10">
                <div class="card__title"><%= @course.name %></div>
                <div class="course__tags">
                    <div class="course__tag bg--200 color--800">
                        <% if @course.period == 0 %>
                            SoSe <%= @course.year %>
                        <% else %>
                            WiSe <%= @course.year %>/<%= (@course.year + 1).to_s()[2,2] %>
                        <% end %>
                    </div>
                    <div class="course__tag bg--200 color--800">
                        <%= @course.semester %>. Semester
                    </div>
                </div>
            </div>
        </div>

        <span class="section__title">
            <i class="material-icons-round">feed</i>
            <p>Informationen</p>
        </span>
        <section class="grid--info--course">
            <div class="info__card bg--800">
                <i class="material-icons-round color--200">room</i>
                <div class="info__card__details">
                    <h3 class="color--200"><%= @course.room.blank? ? "Keine Angabe" : @course.room %></h3>
                    <p class="color--400">Raum</p>
                </div>
            </div>
            <div class="info__card bg--800">
                <i class="material-icons-round color--200">sensor_occupied</i>
                <div class="info__card__details">
                    <h3 class="color--200"><%= @course.lecturer.blank? ? "Keine Angabe" : @course.lecturer %></h3>
                    <p class="color--400">Dozent/-in</p>
                </div>
            </div>
            <div class="info__card bg--800">
                <i class="material-icons-round color--200">account_balance</i>
                <div class="info__card__details">
                    <h3 class="color--200"><%= @course.faculty.blank? ? "Keine Angabe" : @course.faculty %></h3>
                    <p class="color--400">Fakultät</p>
                </div>
            </div>
        </section>
        <span class="section__title">
            <i class="material-icons-round">calendar_month</i>
            <p>Termine</p>
            <%= link_to "add_box", new_course_event_path(@course), class: "material-icons-round icon--additional" %>
        </span>
        <section class="grid--events">
            <% @course.events.each do |event| %>
                <%= render "layouts/partials/event", primary: "800", secondary: "200", accent: "400", event: event %>
            <% end %>
        </section>
    </div>
</body>