<div class="course bg--<%= primary%> color--<%= secondary%>" onclick="window.location.href = '<%= course_path(course) %>';">
    <div>
        <div class="course__title">
            <h3><%= course.name %></h3>
            <b class="color--<%= accent%>"><%= course.short_name %></b>
        </div>
        <div class="course__tags">
            <div class="course__tag bg--<%= secondary%> color--<%= primary%>">
                <% if course.period == 0 %>
                    SoSe <%= course.year %>
                <% else %>
                    WiSe <%= course.year %>/<%= (course.year + 1).to_s()[2,2] %>
                <% end %>
            </div>
            <div class="course__tag bg--<%= secondary%> color--<%= primary%>">
                <%= course.semester %>. Semester
            </div>
        </div>
    </div>
    <%if course.upcoming.length > 0 %>
        <div class="course__todo bg--<%= accent%> color--<%= primary%>">
            <%= course.upcoming.length %>
        </div>
    <% end %>
</div>