<div class="event bg--<%= primary%> color--<%= secondary%>" onclick="window.location.href = '<%= course_event_path(event.course, event) %>';">
    <div class="event__inner">




        <!-- 

             =====  TODO - Beispielaufgabe 1  =====
        
             · Ersetze die statischen Texte "Datum" und "Aufgabentitel" durch die entsprechenden Werte aus dem Event-Objekt
             · Das passende Event-Objekt ist in der Variable "event" gespeichert
             · Ein Event hat folgende Attribute: [title, named_date, time, status, course]
                
        -->

        <h3 class="event__title color--<%= secondary%>">
            Datum
        </h3>
        <p class="event__subtitle color--<%= secondary%>">
            Aufgabentitel
        </p>

        <!-- ====================================== -->
      
      
      
      
    </div>
    <b class="color--<%= accent%>"><%= event.course.short_name %></b>
</div>