<div class="event bg--<%= primary%> color--<%= secondary%>">
    <div class="event__inner">
        <h3 class="event__title color--<%= secondary%>">23. Juni 2023</h3>
        <p class="event__subtitle color--<%= secondary%>">Abgabe - Arbeitsblatt 9</p>
    </div>
    <b class="color--<%= accent%>">HM3</b>
</div>