<header>
    <%= image_tag("logo_#{logo}.svg", :class => "header__logo") %>
    <div class="header__toolbar">

        <% if domain == "main" %>
            <!-- Main Route -->
            <%= form_tag(search_path, :method => "get") do %>
                <div class="header__toolbar__wrapper">
                    <%= search_field_tag :search, params[:search], placeholder: "Kurse durchsuchen...", class: "header__toolbar__input color--200 bg--700" %>
                    <%= button_tag "search", :class => "material-icons-round color--200", :name => nil %>
                </div>
            <% end %>
            <div class="header__toolbar__button button--profile"></div>

        <% elsif domain == "search" %>
            <!-- Search Header -->
            <%= form_tag(search_path, :method => "get") do %>
                <div class="header__toolbar__wrapper">
                    <%= search_field_tag :search, params[:search], placeholder: "Kurse durchsuchen...", class: "header__toolbar__input color--200 bg--400" %>
                    <%= button_tag "search", :class => "material-icons-round color--200 opacity--1", :name => nil %>
                </div>
            <% end %>
            <div class="header__toolbar__button button--icon color--200 bg--400">
                <%= link_to "close", "/", :class => "material-icons-round" %>
            </div>

        <% elsif domain == "detail" %>
            <!-- Course / Event Header -->
            <div class="header__toolbar__button button--icon color--700 bg--400">
                <% if s_type == "course" %>
                    <%= link_to "delete_forever", course_path(@course), data: {
                        turbo_method: :delete,
                        turbo_confirm: "Möchtest du diesen Kurs wirklich löschen?"
                    }, :class => "material-icons-round"%>
                <% elsif s_type == "event" %>
                    <%= link_to "delete_forever", course_event_path(@course, event), data: {
                        turbo_method: :delete,
                        turbo_confirm: "Möchtest du diesen Termin wirklich löschen?"
                    }, :class => "material-icons-round"%>
                <% end %>
            </div>
            <div class="header__toolbar__button button--icon color--200 bg--800">
                <% if s_type == "course" %>
                    <%= link_to "edit", edit_course_path, :class => "material-icons-round" %>
                <% elsif s_type == "event" %>
                    <%= link_to "edit", edit_course_event_path(event.course, event), :class => "material-icons-round" %>
                <% end %>
            </div>
            <div class="header__toolbar__button button--icon color--200 bg--800">
                <% if s_type == "course" %>
                    <%= link_to "close", "/", :class => "material-icons-round" %>
                <% elsif s_type == "event" %>
                    <%= link_to "close", course_path(@course), :class => "material-icons-round" %>
                <% end %>
            </div>

        <% elsif domain == "modify" %>
            <!-- Create / Edit Header -->
            <div class="header__toolbar__button button--icon color--100 bg--400">
                <i class="material-icons-round" onclick="submitForm()">save</i>
            </div>
            <div class="header__toolbar__button button--icon color--800 bg--200">
                <% if type == "new" %>
                    <% if s_type == "course" %>
                        <%= link_to "close", "/", :class => "material-icons-round" %>
                    <% elsif s_type == "event" %>
                        <%= link_to "close", course_path(@event.course), :class => "material-icons-round" %>
                    <% end %>
                <% elsif type == "edit" %>
                    <% if s_type == "course" %>
                        <%= link_to "close", course_path, :class => "material-icons-round" %>
                    <% elsif s_type == "event" %>
                        <%= link_to "close", course_event_path(@event.course, @event), :class => "material-icons-round" %>
                    <% end %>
                <% end %>
            </div>

        <% end %>
    </div>
</header>